
@model MyStore.Domain.Concrete.Customer

<div class="navbar-text navbar-right">

    @if (Model.Id == 0)
    {
        @Html.ActionLink("登录", "Login", "Customer");
    }
    else
    {
        <b>欢迎：</b>
        @Model.UserName
    }
</div>